<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>    
    <add name="constr" connectionString="Data Source=localhost;Initial Catalog=aace;User Id=root;password=root;"/>
    <!--<add name="constr" connectionString="Data Source=103.19.89.1;Initial Catalog=aace;User ID=applomb;Password=;default command timeout=3600" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
